URxvt.scrollBar: false
URxvt.foreground: White
URxvt.background: Black
! URxvt.font: xft:DejaVu Sans for Powerline:regular:size=8
! URxvt.font: -*-terminus-*-r-*-*-14-*-*-*-*-*-*-*
URxvt.font: xft:xos4 Terminess Powerline:Bold:size=12,\
            xft:FontAwesome:regular:size=12
